*{
	margin: 0;
	padding: 0;
}
body{
	background-color: whitesmoke;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	cursor: pointer;
}
h2{
	font-size: 45px;
}
ul,ol,dl{
	list-style: none;
}
	.play-block{
		display: block;
		max-width: 700px;
	}
	.wideBox{
		width: 100%;
		position: relative;
	/*	background-color: red;*/
	}
	.header{
		width: 100%;
		/*height: 230px;*/
	}
	.adv-wrapper {
			z-index: 9999;
			background: #444;
			line-height: 1;
			width: 100%;
			right:0;
			height: 40px;
			z-index: 9999;
		}
	.adv-wrapper .adv-wrapper-text {
			color: #a8a8aa;
			display: block;
			line-height: 40px;
			overflow: hidden;
			text-decoration: none;
			text-overflow: ellipsis;
			text-align: right;
			max-width: 976px;
			margin: 0 auto;
		}
	.navbar{
			height: 44px;
			width: 100%;
			text-align: center;
			background-color: #333;
			color: #fff;
		}
	.navbar-icon{
		width: 1000px;
		margin: 0 auto;
	}
	.navbar-icon a:hover{
		opacity: 0.6;
		text-decoration: none;
	}
	.navbar-icon li > a {
		float: left;
		width: 56px;
		height: 44px;
		margin: 0 20px;
		color: #fff;
		font-size: 14px;
		line-height: 44px;
	}
	.product{
		width: 100%;
		color: #fff;
		text-align: center;
		background-color: #141414;
	}
	.product ul{
		width: 730px;
		margin: 0 auto;
		height: 76px;
		padding-bottom: 49px;	
		color: #fff;
	}
	.product > ul >li{
		float: left;
		width: 100px;
	}
	.product a:hover{
		color: #6bf;
		text-decoration: none;
	}
	.product-icon{
		color: #fff;
		font-size: 14px;
		text-align: center;
		line-height: 20px;
	}
	.product-icon figure{
		margin-top: 15px;
		width:100px;
		height: 60px;
		/*border: 1px solid red;*/
	}
	.product-icon span{
		display: block;
	}
	.content-theme{
		width: 100%;
		background-color: #000;
		color: #fff;
		margin-bottom: 50px;
		overflow: hidden;
	}
	.content-txt{
		width: 1000px;
		height: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.h2-first{
		margin: 10px 0;
		font-size: 30px;
	}
	.h2-second{
		margin: 10px 0;
		font-size: 60px;
	}
	.content-theme a{
		line-height: 40px;
		color: #6bf;
		font-size: 22px;
	}
	.content-theme p{
		font-size: 17px;
		margin-bottom: 40px;
	}
	.content-theme figure{
		margin-left: 20%;
		height: 100%;
		width: 100%;
		margin-bottom: -5px;
	}
	.bgcolor-red{
		background-color: #cc3341;
	}
	.bgcolor-white{
		background-color: #fff;
	}
	.bgcolor-lessgray{
		background-color: #fafafa;
	}
	.font-white{
		color: #fff;
	}
	.font-black{
		color: #000;
	}
	.font-blue{
		color: #66BBFF;
	}
	.txt-height{
		height: 200px;
	}
	.list-box-big{
		height: 950px;
	}
	.list-box-middle{
		height: 745px;
	}
	.list-box-small{
		height: 200px;
	}
	.list-box-big .img-txt-height{
		margin-top: 35px;
	}
	.list-box-big img{
		margin-top: 65px;
	}
	.content-list{
		width: 100%;
		margin-bottom: 50px;
		overflow: hidden;
	}
	.bg-red-box,.bg-txt-box{
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	.bg-red-box{
		max-width: 85%;
	    min-width: 865px;
	    overflow: hidden;
	}
	.bg-txt-box{
		width: 885px;
	}
	.content-list>li{
		width: 100%；
		height:100%;
		overflow: hidden;
		float: left;
		color: #fff;
		text-align: center;
	}
	.bgcolor-red .red-left{
		position: absolute;
	    padding-top: 80px;
	    padding-left: 180px;
	}
	.red-right{
		width: 550px;
		position: absolute;
		margin-top: 141px;
    	right: 85px;
		text-align: center;
	}
	.red-right span{
		border: 1px solid #fff;
		background-color: #cc3341;
		border-radius: 5px;
		display: block;
		margin: 0 auto;
		width: 70px;
		height: 35px;
		line-height: 35px;
		margin-bottom: 30px;
	}
	.red-right h2{
		margin: 20px 0;
	}
	.red-right a{
		display: block;
		width: 100%;
		height: 35px
		line-height:35px;
		text-align: center;
		color: #fff;
		margin-bottom:30px;
		font-size: 17px;
	}
	.img-left,.img-right,.img-left-big,.img-right-big{
		width: 47.5%;
		overflow: hidden;
		text-align: center;
		display: inline-block;
		height: 720px;
	}
	.img-left-big,.img-right-big{
		height: 950px;
	}
	.img-left,.img-left-big{
		margin-right: 4.3%;
	}
	.img-a-link{
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 17px;
		max-width: 700px;
	}
	.img-a-link a{
		color: #0070c9;
	}
	.img-black-bgimg{
		-webkit-text-fill-color: transparent;
    	-webkit-background-clip: text;
		background-image: url('../img/iphoneImg/howtoshoot_textoverlay_large.jpg');
		background-size: 100% 100%;
	}
	.img-txt-height{
		margin-left: auto;
	    margin-right: auto;
	    padding-top: 57px;
	    max-width: 575px;
	    text-align: center;
	    margin-bottom: 25px;
	}
	.img-txt-height p{
		font-size: 24px;
		margin-bottom: 10px;
	}
	.img-txt-height span{
		display: inline-block;
		max-width: 425px;
		margin: 0 auto;
		font-size: 22px;
		padding-top: 25px;
		padding-bottom: 10px;
	}
	
	.takeshoot-position{
		position: relative;
    	margin-top: 265px;
    	right: -10px;
	}
	.left-img-black{
		background-image: url('../img/iphoneImg/howtoshoot_large.jpg');
		background-size: 100% 100%;	
	}
	.right-img-pink{
		background-image: url('../img/iphoneImg/why_switch_large.jpg');
		background-size: 100% 100%;
	}
	.left-img-perpoul{
		overflow: hidden; 
	    background: #af4fc1; 
	    background: -webkit-linear-gradient(top, #af4fc1, #4f1b74); 
	    background: linear-gradient(to bottom, #af4fc1, #4f1b74);
	}
	.left-img-perpoul>img{
		padding-top: 33px;
	}
	.right-img-white,.left-img-white{
		color: #000;
		background-color: #fff;
		overflow: hidden;
	}
	.right-img-black{
		color: #FFF;
	    background-color: #000;
	    overflow: hidden
	}
	.right-img-lessblack{
		color: #FFF;
	    background-color: #121212;
	    overflow: hidden
	}
	.left-img-white ul{
		width: 341px;
		text-align: left;
		margin-top: -120px;
		margin-left: auto;
		margin-right: auto;
	}
	.left-img-white ul>li{
		margin-bottom: 10px;
	}
	.content-ios11{
		width: 100%;
		height: 560px;
		overflow: hidden;
		margin-bottom: 50px;
	}
	.content-ios11 a{
		color: #6bf;
		font-size: 17px;
	}
	.right-img-iOS11{
		margin-top: 33px;
		margin-left: 750px;
		display: inline-block;
		background-color: #fff;
	}
	.left-txt{
		position: absolute;
		margin-top: 145px;
		display: inline-block;
		margin-left: 200px;
		width: 500px;
		vertical-align: center;
		text-align: center;

	}
	.left-txt h2{
		font-size: 43px;
		margin: 15px 0;
	}
	.left-txt p,a{
		margin-bottom: 15px;
	}
	.left-txt span{
		width: 70px;
		height: 35px;
		display: block;
		line-height: 35px;
		margin: 0 auto;
		border:1px solid #999;
		border-radius: 5px;
		color: #999;
	}
	.img-list{
		padding-top: 50px;
	    width: 1120px;
	    margin: 0 auto;
	}
	.img-list li{
		float: left;
		text-align: center;
		margin: 0 auto;
		margin-right: 50px;
	}
	
	.img-list img{
		display: block;
		text-align: center;
		max-width: 100%;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	.bgcolor-white-title{
		padding: 60px 0;
		text-align: center;
	}
	.bgcolor-white-title h2{
		margin-bottom: 20px;
	}
	.content-applepay{
		width: 100%;
	    height: 479px;
	    overflow: hidden;
	    margin-bottom: 50px;
	    text-align: center;
	}
	.content-applepay .left-txt{
		position: absolute;
	    margin-top: 176px;
	    display: inline-block;
	    margin-left: 74px;
	    width: 334px;
	    vertical-align: center;
	    text-align: center;
	}
	.content-applepay .red-left{
		position: absolute;
	    margin-top: 7px;
	    margin-left: 180px;
	    height: 666px;
	}
	.bg-business{
		width: 100%;
		background-image: url(../img/iphoneImg/business_large.jpg);
		background-size: 2560px 562px;
		overflow: hidden;
		background-position: center;
	}
	.footer{
		width: 100%;
		margin-top: -20px;
	}
	.footer a,.footer li,.footer p,.footer span{
		color: #555;
		font-size: 11px;
	}
	.foot-link-list-content > p > a{
		color: #66BBFF;
	}
	.footer h5{
		font-size: 11px;
	}
	.foot-middle-content{
		width: 1000px;
		height:80%;
		margin: 0 auto;
	}
	.foot-require{
		width: 100%;
		height: 95px;
		border-bottom: 1px solid #888;
	}
	.foot-link-list{
		width: 100%;
		height: 270px;
		margin-top: 10px;
		border-bottom: 1px solid #888;
	}
	.foot-list-box>li{
		width: 200px;
		height: 220px;
		float: left;
	}
	.icon-apple{
		display: inline-block;
		width: 14px;
		height: 18px;
		overflow: hidden;
	}
	.foot-copyright{
		margin-top: 10px;
		height: 60px;
		width: 100%;
	}
	.illegel-info{
		display: inline-block;
	}
	.country-info{
		display: inline-block;
		float: right;
	}
	.backup{
		padding-bottom: 10px;
	    background-color: #DCDCDC;
	    width: 40px;
	    height: 35px;
	    z-index: 15;
	    position: fixed;
		bottom: 20px;
		right: 20px;
		display: none;
	}
	.backup a:hover{
		text-decoration: none;
		color: darkgrey;
	}
	.backup-icon{
		color: lightsteelblue;
		text-align: center;
		font-size: 55px;
	}
